*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("background.png");
    background-position: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 160px;
}
nav li{
    display: inline-block;
    font-size: 15px;
    margin: 0px 20px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
}
.script{
    margin-left: 5%;
    margin-top: 5%;
}
.boton{
    font-size: 30px;
    box-sizing: border-box;
    /*border: blue;*/
    color: #fff;
    border-radius: 5px;
    background-color: snow;
}
.boton a{
    text-decoration: none;
    margin: 0px 20px;
}
.boton:hover{
    background-color: mistyrose;
}
 .script h1{
     margin-top: 3%;
}
 .script p{
     margin-top: 2%;
     margin-left: 2%;
     font-size: 18px;
 }
 .back,
 .next{
     width: 50px;
     margin: 1%;
     padding-left: 10px;
 }
 .styl {
     /*padding-bottom: 50%;*/
     margin-left: 30%;
     margin-bottom: 100%;
     width: 50%;
 }
.styl img{
    height: 90%;
    position: absolute;
    bottom: 0px;
    right: 160px;
}
.media{
    bottom: 180px;
    position: absolute;
    /*transform: rotate(-90deg);*/
    margin-left: 10%;
}
.media a{
    text-decoration: none;
    font-size: 15px;
    padding-right: 19px;
    color: rebeccapurple;
}